<app-navbar></app-navbar>

<ul>
  <li> Nom : {{ personne | json }} </li>
</ul>

<ul>
  <li> {{ tab[0] }} </li>
  <li> {{ tab[1] }} </li>
  <li> {{ tab[2] }} </li>
  <li> {{ tab[3] }} </li>
</ul>

<p> {{ direBonjour() }}</p>

<p>{{title}}</p>
<p [textContent]=title></p>

<ul>
  <li *ngFor="let elt of tab; index as i"> {{i}} : {{ elt }} </li>
</ul>

<ul>
  <li *ngFor="let elt of tab; let i = index; let isFirst =first">
     {{i}} : {{ elt }} : {{isFirst}} 
  </li>
</ul>

<ul>
  <li *ngFor="let elt of personnes"> 
    numero: {{elt.num}} : nom: {{elt.nom}} 
  </li>
</ul>

<ul>
  <li *ngIf="tab[0] % 2 ==0; else sinon"> {{ tab[0] }} est paire </li>
  <ng-template #sinon>
    <li>
      {{tab[0]}} est impaire
    </li>
  </ng-template>
</ul>

<button id="btn" routerLink="/test" >valider</button>

